@import "src/variables";

.nav {
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  z-index: 5;

  @media (min-width: $screen-small) {
    flex-direction: unset;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  & .name {
    display: inline-flex;
    text-transform: lowercase;
    //z-index: inherit;
    font-size: 2.4rem;
    font-weight: bold;

    & .last-name {
      color: $color-primary;
    }
  }

  & > .socials {
    @include flex-center;
    //z-index: inherit;
    gap: 2.5rem;

    a {
      @include flex-center;
      height: 2.5rem;
      width: 2.5rem;
      transition: all 0.3s;
      fill: white;

      &:hover,
      &:focus {
        fill: $color-secondary;
        //fill: $color-primary;
      }
    }
  }
}
