@import "src/variables";

.skill-card {
  @include flex-center;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.07);
  justify-content: space-between;

  @media (min-width: $screen-small) {
    //justify-content: center;
    flex-direction: column;
  }

  & > svg {
    width: 3.4rem;
    height: 3.4rem;
    //order: 1;
    @media (min-width: $screen-small) {
      width: 6.4rem;
      height: 6.4rem;
      //font-size: 3rem;
    }
  }

  & .name {
    font-size: 1.6rem;
    font-weight: 200;
    @media (min-width: $screen-small) {
      font-size: 3rem;
    }
  }
}
