@import "../variables";

.project-card {
  margin-top: 2rem;
  overflow: hidden;
  //padding: 3rem 0 0 0;
  //max-width: 34rem;

  & .image-wrapper {
    position: relative;
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
    //border-radius: 1rem;
    & > .async-image {
      transition: filter 0.2s, transform 0.2s;
      max-width: 100%;
    }
  }

  & .info {
    & > .name {
      font-size: 2.4rem;
      text-transform: capitalize;
    }

    & > .tech-container {
      @include flex-center;
      margin-top: 1rem;
      margin-bottom: 1.3rem;
      gap: 2rem;
      justify-content: flex-start;
      & > .tech {
        color: $color-gray;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }

  & .buttons {
    display: flex;
    gap: 3rem;
    & button {
      margin-top: 1.3rem;
    }
  }

  @media (min-width: $screen-medium) {
    //position

    & > .buttons {
      display: none;
    }

    & .image-wrapper > .buttons {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
    }

    &.hover .async-image {
      filter: brightness(30%) blur(3px);
      transform: scale(1.07);
      //transform: scale(2.05);
    }

    &.hover .buttons {
      opacity: 1;
    }
  }
}
