@import "../variables";

.skill-card {
  @include flex-center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.15rem;
  flex-direction: column;

  @media (min-width: $screen-small) {
    background-color: transparent;
    gap: 0.8rem;
  }

  & > svg {
    width: 6.4rem;
    height: 6.4rem;
    //filter: ;

    &:hover {
      filter: unset;
    }
  }

  & .name {
    font-size: 2.2rem;
    font-weight: 200;
    @media (min-width: $screen-small) {
      font-size: 3rem;
    }
  }

  & .years {
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-gray;
  }
}
