@import "../variables";

.skills-section {
  & .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 0.2rem;
    justify-content: space-evenly;

    @media (min-width: $screen-small) {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
  }
}
