@import "../../variables";

.button {
  //transition: color 0.3s;
  margin: 0;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-font;
  text-transform: uppercase;
  line-height: 2.6rem;
  letter-spacing: 0.23rem;
  //border-bottom: 2px solid $color-primary;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $color-primary;
  text-underline-offset: 8px;
  transition: background-position 0.2s;
  background: linear-gradient(to bottom, transparent 50%, $color-primary 0%)
    no-repeat top;
  background-size: auto 202%;

  &:hover {
    cursor: pointer;
    background-position: bottom;
    //background-color: $color-primary;
  }
}
