@import "../../variables";

.button {
  @mixin transitionProps($delay) {
    transition: all 0.3s, background #{$delay}s;
    transition-property: color, margin;
  }
  text-align: center;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.2rem;
  letter-spacing: 0.23rem;
  padding: 0.5rem 1rem;
  border-radius: 0.15rem;
  width: 100%;
  @include transitionProps(0.5);
  background: linear-gradient(
      to bottom,
      $color-primary 50%,
      lighten($color-secondary, 20) 0%
    )
    repeat top;
  background-size: auto 200%;
  color: $color-font;

  &:hover,
  &:active {
    @include transitionProps(0.2);
    //transition: background 0.2s;
    background-position: bottom;
    color: invert($color-font);
  }

  &.open {
    margin-bottom: 3rem;
  }
}
