@import "../../variables";

@keyframes jump {
  50% {
    transform: translateY(-5rem);
    background-color: $color-secondary;
  }
}

.loading {
  @include flex-center;
  gap: 1rem;
  margin-top: 10rem;

  @for $i from 0 through 5 {
    & .dot#{$i + 1} {
      animation: jump 1.3s ease-in-out infinite;
      animation-delay: #{$i * 100}ms;
      background-color: $color-primary;
      height: 1.3rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
}
