@import "../../variables";

.modal {
  @include flex-center;
  justify-content: space-between;
  //flex-wrap: wrap;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  width: 80%;
  max-width: 120rem;
  aspect-ratio: 2.8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;

  .close-button {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
  }

  .image {
    height: 100%;
    aspect-ratio: 1.3;
    object-fit: cover;
  }

  .info {
    padding: 2rem;
    align-self: flex-start;
    .name {
      font-size: 3rem;
    }

    .description {
      font-size: 1.6rem;
    }
  }
}
.modal-backdrop {
  transition: all 0.3s ease-in-out;
  //transition-property: background-color, backdrop-filter;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
}
