@import "../../variables";

.modal {
  position: fixed;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  //max-width: 100rem;
  //aspect-ratio: 2.8;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;

  & .close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    mix-blend-mode: difference;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    border-radius: 0.3rem;
    padding-inline: 1rem;
    z-index: 20;
  }

  &.closed {
    transform: translate(-50%, -200%);
  }
}

.modal-backdrop {
  transition: all 0.3s ease-in-out;
  transition-property: background-color, backdrop-filter;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.28);
  //backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;

  &.closed {
    background-color: unset;
    backdrop-filter: unset;
  }
}
